[submodule "dependencies/hardfloat"]
	path = dependencies/hardfloat
	url = git@github.com:CodingPlatelets/berkeley-hardfloat.git
[submodule "dependencies/fputil"]
	path = dependencies/fputil
	url = git@github.com:CodingPlatelets/fp-division-pipelined.git
[submodule "dependencies/fudian"]
	path = dependencies/fudian
	url = git@github.com:CodingPlatelets/fudian.git
[submodule "dependencies/fputil-nopipe"]
	path = dependencies/fputil-nopipe
	url = git@github.com:CodingPlatelets/fp-division-no-pipeline.git
